.width50{
	width: 50px;
}
.width100{
	width: 100px;
}
.width150{
	width: 150px;
}
.width200{
	width: 200px;
}
.width250{
	width: 250px;
}
.width300{
	width: 300px;
}
.width350{
	width: 350px;
}
.margin100{
	margin-top: 20px;
}

#logindiv{
	background-color:#eeeeee;
	width:300px;
	margin:auto;
	position:absolute;
	left:0px;
	right:0px;
	padding:10px;
	border-radius: 10px 10px 10px 10px;
	top:90px;
}
#toplogin{
	width:324px;
	margin:auto;
	position:absolute;
	left:0px;
	right:0px;
	padding:10px;
	top:20px;
}
#logotop{
	top:5px;
	position:absolute;

}
@charset "utf-8";
@font-face{
	font-family:"Roboto";
	src: url('../font/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body, table, td{
	margin:0;
	padding:0;
	font-family: 'Roboto';
	color:#333333;
	font-size:12px;
}

#container {
	min-height:100%;
	width:100%;
	margin: auto;
	left:0px;
	right:0px;
}

.modal-window {
    background-color: #fff;
}

#header{

}
#topheader{
	width:100%;
	position:absolute;
	left:0px;
	right:0px;
	margin:auto;
	height:76px;
	border-top: solid 3px #024448; 
	
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, #41AEB3 0%, #68C5C9 100%);	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #41AEB3 0%, #68C5C9 100%);	
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #41AEB3 0%, #68C5C9 100%);	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #41AEB3), color-stop(1, #68C5C9));	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #41AEB3 0%, #68C5C9 100%);	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #41AEB3 0%, #68C5C9 100%);

}
#logoheader{
	position:absolute;
	top:20px;
	width:191px;
	height:95px;	
	border-radius:7px;
	left:22px;	
	background-color:#048991;
	text-align:center;
	border-right:solid 3px #7B9DA0;
	border-bottom:solid 3px #7B9DA0;
}
#logoimg{
	position:absolute;
	width:165px;
	margin:auto;
	left:0px;
	right:0px;
	margin-top:10px;
}

label {
	text-transform:capitalize;
	padding-left:2px;
	display:inline-block;
	width:130px;
	padding-top:5px;
	margin-bottom:10px;
	font-size:13px;
}
	
#navigation{
	position:absolute;
	width:194px;
	left:22px;
	background:#6BC7CB;
	border-radius:7px;
	
	top:140px;
	border-right: 3px solid #048991;
	border-bottom: 3px solid #048991;
}
#navigation .navitext{
	position:absolute;
	width:121px;
	margin:auto;
	left:0px;
	right:0px;
	height:23px;
	border-radius:0 0px 5px 5px;
	top:0px;
	background:#048991;
	text-align:center;
	color:#FFFFFF;
	text-transform:uppercase;
	font-size:14px;
}
#header .rightnav{
	position:absolute;
	right:40px;
	top:20px;
	height:30px;
	background:#004344;
	border-radius:20px;
	box-shadow: 0px 2px 3px #90D1D3;
	
	padding-right:20px;
}
.rightnav div{	
	margin-top:5px;
	color:#6BC7CB;
	
}
.rightnav div a{	
	margin-top:5px;
	color:#6BC7CB;
	text-decoration:none;
	
}
.rightnav div img{		
	margin-left:20px;
}
#icticketing{
	background:url(../images/icticketing.png) no-repeat left top;
}
#ichotels{
	background:url(../images/ichotels.png) no-repeat left top;
}
#ictours{
	background:url(../images/ictours.png) no-repeat left top;
}
#icdoc{
	background:url(../images/icdoc.png) no-repeat left top;
}
#icothers{
	background:url(../images/icothers.png) no-repeat left top;
}
#icutility{
	background:url(../images/icutility.png) no-repeat left top;
}
#logindiv{
	background-color:#eeeeee;
	width:300px;
	margin:auto;
	position:absolute;
	left:0px;
	right:0px;
	padding:10px;
	border-radius: 10px 10px 10px 10px;
	top:90px;
}
#toplogin{
	width:324px;
	margin:auto;
	position:absolute;
	left:0px;
	right:0px;
	padding:10px;
	top:20px;
}
#logotop{
	top:5px;
	position:absolute;

}

#logintable{
	position:absolute;
	bottom:12px;
	left:10px;
}

#content{
	position:absolute;
	width:70%;
	left:235px;
	top:100px;

}
#content p{
	text-align:justify;
}

input[type="text"]{
	height:30px;
	font-family:"Roboto";  
	padding: 0px 5px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	   -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input[type="password"]{
	height:30px;
	font-family:"Roboto";  
	padding: 0px 5px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	   -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input[type="submit"]{
	height:30px;
	border: solid 1px #999;
	border-radius: 4px;
	

	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, #D6D6D6 0%, #78737D 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #D6D6D6 0%, #78737D 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #D6D6D6 0%, #78737D 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #D6D6D6), color-stop(1, #78737D));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #D6D6D6 0%, #78737D 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #D6D6D6 0%, #78737D 100%);


	color:#000;
	font-size:12px;
	padding-left:10px;
	padding-right:10px;
	text-transform:uppercase;


}
select{
	height:30px;
	font-family:"Roboto";  
	padding: 0px 5px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	   -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.btn{
	height:30px;
	border: solid 1px #999;
	border-radius: 4px;
	

	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, #D6D6D6 0%, #78737D 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #D6D6D6 0%, #78737D 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #D6D6D6 0%, #78737D 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #D6D6D6), color-stop(1, #78737D));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #D6D6D6 0%, #78737D 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #D6D6D6 0%, #78737D 100%);


	color:#000;
	font-size:12px;
	padding-left:10px;
	padding-right:10px;
	text-transform:uppercase;
	margin-bottom: 2px;
}
.submit_div {
	margin-left:135px;
}
textarea{
	font-family:"Roboto";  
	padding: 0px 5px;
	font-size: 12px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	   -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	
	
}
.top {
	vertical-align:top;

}
.judul{
	
	background:url(../images/smallarrow.png);
	background-position:  10px center;
	background-repeat: no-repeat;
	padding-left:25px;
	margin-bottom:20px;

	padding: 8px 25px;
	margin-bottom: 20px;
	list-style: none;
	background-color: #f5f5f5;
	border-radius: 4px;
}
.bannerimg{
	margin-right:20px;
}

.tabmenu{
	
	top:20px;
	margin-bottom:20px;
	margin-top:-11px;
	width:100%;
	border-bottom:solid 3px #8F9E9E;
}
.ultab{
	display: inline-block;
	width: 100%;
	margin-left: -40px;
	margin-bottom: 0;
	 
}
.ultab li{
	display:inline-block;
	list-style:none;
	text-transform:uppercase;
	font-size:11px;
	background-color:#FF3300;
	border-radius: 4px 4px 0 0;
	height: 25px;
	padding-left:10px;
	padding-right:10px;
	padding-top:6px;
	margin-left:0px;
	color:#333333;
	border-radius:7 7 0 0;
	border-top: solid 2px #101011;
	border-right: solid 2px #101011;	
}
.ultab .seltab{
	background: #8F9E9E;
	border-top: solid 2px #101011;
	border-right: solid 2px #101011;
	border-radius: 4px 4px 0 0;
	height: 25px;
}
.ultab li:hover{
	background:#8F9E9E;
}
.ultab li a{
	font-size:11px;
	color: #333333;
	text-decoration:none;
	
}

.datagrid {
	font-size:12px;
	width:90%;
	margin-top:15px;
	margin-bottom:15px;
	
}
.datagrid th {
	
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, #6BC7CB 0%, #048991 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #6BC7CB 0%, #048991 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #6BC7CB 0%, #048991 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #6BC7CB), color-stop(1, #048991));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #6BC7CB 0%, #048991 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #6BC7CB 0%, #048991 100%);
	
	height:25px;
	color: #FFFFFF;
	padding:0 10 0 10;
	font-size:12px;
	font-weight:normal;
	text-transform: uppercase;
	height:30px;
	font-weight:bold;
}
.tick_data {
	width:500px;
	background:url(../images/edit.png) no-repeat center;
	padding: 10px;
	border:none;
}
.detail_data {
	width:500px;
	background:url(../images/detail.png) no-repeat center;
	padding: 10px;
	border:none;
}
.select_data {
	width:500px;
	background:url(../images/select.png) no-repeat center;
	padding: 10px;
	border:none;
}
.delete_data {
	width:500px;
	background:url(../images/del.png) no-repeat center;
	padding: 10px;
	border:none;	
	
}
.pilih_data {
	width:500px;
	background:url(../images/pilih.png) no-repeat center;
	padding: 10px;
	border:none;	
	
}
.print_data {
	width:500px;
	background:url(../images/print.png) no-repeat center;
	padding: 10px;
	border:none;
}
.datagrid td {
	background-image: -ms-linear-gradient(bottom, #E0E0E0 0%, #D4D4D4 100%);
	background-image: -moz-linear-gradient(bottom, #E0E0E0 0%, #D4D4D4 100%);
	background-image: -o-linear-gradient(bottom, #E0E0E0 0%, #D4D4D4 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #E0E0E0), color-stop(1, #D4D4D4));
	background-image: -webkit-linear-gradient(bottom, #E0E0E0 0%, #D4D4D4 100%);
	background-image: linear-gradient(to top, #E0E0E0 0%, #D4D4D4 100%);
	height:27px;
	padding:0 10 0 10; 
}
.datagrid tr:hover td {
	background: #cccccc;

}
ul.tsc_pagination { margin:20px 0; padding:0px; overflow:hidden; font:12px 'Tahoma'; list-style-type:none; }
ul.tsc_pagination li { float:left; margin:0px; padding:0px; margin-left:5px; } 
ul.tsc_pagination li a { color:black; display:block; text-decoration:none; padding:7px 10px 7px 10px; } 
ul.tsc_paginationA li a { color:#FFFFFF; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; } 
ul.tsc_paginationA01 li a { color:#474747; border:solid 1px #B6B6B6; padding:6px 9px 6px 9px; background:#E6E6E6; background:-moz-linear-gradient(top, #FFFFFF 1px, #F3F3F3 1px, #E6E6E6); background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #FFFFFF), color-stop(0.02, #F3F3F3), color-stop(1, #E6E6E6)); }
ul.tsc_paginationA01 li:hover a,
ul.tsc_paginationA01 li.current a { background:#FFFFFF; }

.fancybox-custom .fancybox-skin {
	box-shadow: 0 0 50px #222;
}
h3{
	text-transform:uppercase;
	font-weight: normal;
	font-size:12px;
	color:#048991;
	border-bottom:dashed 1px #048991;
	

}

fieldset{
	border:solid #41AEB3 1px;
	border-radius:10px;
	margin-bottom:10px;
}
.processLink{
	background-color:#465860;
	padding:2px 5px 2px 5px;
	white-space:nowrap;
	border-radius:5px;
	border:outset 1px #FFFFFF;

}
.processLink:hover{
	background-color: #FF9900;
}

.processLink a{
	text-decoration:none;
	color:#FFFFFF;
	font-size:11px;
	text-transform:uppercase;

}
.reportTable1{
	margin-top:20px;
	line-height:25px;
	/*border-right:solid 1px #333333;
	border-bottom:solid 1px #333333;
	*/

}
.reportTable1 tr td{
	font-size:12px;
	padding:2px;
	/*border-top:solid 1px #333333;*/
	border-bottom: double ;

}
#printkop{
	
	width:100%;
	padding-bottom:10px;
	margin-bottom:20px;
	border-bottom:solid 2px #000000;
}
.reportTable2{
	width:100%;
	font-size:11px;
	

}
.reportTable2 thead tr th{
	border-bottom:solid #000000 1px;
	text-align:left;
	text-transform:uppercase;
	

}
.reportTable2 tr td{
	
	padding:5 5 5 0px;
	border-bottom:solid 1px #999999;

}
.printTitle{
	font-size:22px;

}
#logotop{
margin-top:5px;
margin-left:5px;
}